<ion-header mode="ios">
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button color="ghg-green"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="auth-content">
	<ion-grid>
		<ion-row>
			<ion-col>
				<div class="section-title mt-4">
					<h1 class="text-green">{{ 'LOGIN.evaluator' | translate }}</h1>
				</div>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<div class="section-title mt-4">
					<h1>{{ 'LOGIN.applicantGreet' | translate }}</h1>
					<h2>
						{{ 'LOGIN.ready' | translate}}
						<span>{{ 'LOGIN.earth' | translate }}?</span>
					</h2>
				</div>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<div class="mt-4">
					<form [formGroup]="loginForm">
						<ion-item lines="none">
							<ion-label position="stacked" mode="ios">{{ 'LOGIN.username' | translate }}
							</ion-label>
							<ion-input 
								clearInput
								type="text"
								mode="ios"
								placeholder="910101010101 / T01012910"
								formControlName="username"
							>
								<ion-icon name="person-circle-outline" slot="start"></ion-icon>
							</ion-input>
							<ng-container *ngFor="let message of loginFormMessage.username">
								<div class="error-message"
									*ngIf="loginForm.get('username').hasError(message.type) && (loginForm.get('username').dirty || loginForm.get('username').touched)"
								>
									<p class="error-text"><span>*{{ message.message }}</span></p>
								</div>
							</ng-container>
						</ion-item>
						<ion-item lines="none">
							<ion-label position="stacked" mode="ios">{{ 'LOGIN.password' | translate }}
							</ion-label>
							<ion-input 
								clearInput
								type="password"
								mode="ios"
								placeholder="********"
								formControlName="password"
							>
								<ion-icon name="lock-closed-outline" slot="start"></ion-icon>
							</ion-input>
							<ng-container *ngFor="let message of loginFormMessage.password">
								<div class="error-message"
									*ngIf="loginForm.get('password').hasError(message.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)"
								>
									<p class="error-text"><span>*{{ message.message }}</span></p>
								</div>
							</ng-container>
						</ion-item>
						<ion-item lines="none" mode="ios">
							<ion-button
								class="btn-green-lg mt-1"
								[disabled]="loginForm.status == 'INVALID'"
								(click)="login()"
							>
								{{ 'LOGIN.btnLoginEvaluator' | translate }}
							</ion-button>
						</ion-item>
						<div class="text-center">
							<p [routerLink]="['/auth/forgot']">{{ 'LOGIN.btnForgot' | translate }}</p>
						</div>
					</form>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>