<ion-header>
  <ion-toolbar></ion-toolbar>
  <ion-title></ion-title>
</ion-header>

<ion-content>
  <ion-grid class="settings">
    <ion-row>
      <ion-col>
        <div class="section-title">
          <h3>Test Title</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item mode="ios">
          <ion-label position="stacked">Test</ion-label>
          <ion-input clearInput type="text" placeholder="test"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>