.btn-info {
    --background: #66bb6a;
    --color: #ffffff;
    --border-radius: 0.8rem !important;
    margin-inline-end: 16px;
    margin-inline-start: 16px;
    text-transform: none;
    text-align: center;
    width: calc(100% - 32px);
    
}